.wrapper {
	display: flex;

	.item {
		list-style: none;
		padding: 0 5px;
		position: relative;
	}

	.item:last-child::after,
	.item:last-child::before {
		content: '';
		position: absolute;
		width: 40px;
		height: 1px;
		left: 2px;
		background-color: #5900ff;
	}

	.item:last-child::after {
		top: 20px;
	}

	.item:last-child::before {
		top: 23px;
		width: 34px;
		left: 5px;
	}

	.item:last-child {
		padding-right: 20px;
	}

	.navItemLink {
		text-decoration: none;
		color: #5900ff;
		font-weight: 300;

		&Active {
			font-weight: 700;
		}
	}
}